.board-container {
    border: 1px solid grey;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    margin: 0 auto;
    height: 500px;
    box-sizing: border-box;
    width: 500px;
}

.row {
    display: flex;
    height: 100px;
    width: 500px;
}

.tile {
    border-style: outset;
    height: 100px;
    width: 100px;
    /* border: 1px dotted red; */
    box-sizing: border-box;
    background-color: gray;
}

.revealed {
    border-style: inset;
}

.flagged {
   
}

.bombed {

}